<!DOCTYPE html>
<html>

<head>
    <title>Webplastic</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/css/animate.css" rel="stylesheet" />

    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/icomoon/styles.min.css" rel="stylesheet" />

    <!--Sweet alert-->
    <link href="~/Content/css/sweetalert2.min.css" rel="stylesheet" />

</head>

<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +57 312 6070792</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span>webplastic@hotmail.com</a>
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end">
                    <div class="social-media">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.php">WEBPLASTIC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="@Url.Action("QuienesSomos","Home")" class="nav-link">¿Quiénes somos?</a></li>
                    <li class="nav-item"><a href="@Url.Action("Catalogo","Home")" class="nav-link">Catálogo</a></li>
                    <li class="nav-item"><a href="@Url.Action("Blog","Home")" class="nav-link">Blog</a></li>
                    <!--<li class="nav-item"><a href="Carrito.php" class="nav-link">Carrito</a></li>-->
                    @if (Convert.ToInt32(Session["idUser"]) == 1)
                    {
                        <li class="nav-item dropdown dropdown-user">
                            <a href="#" class="btn btn-primary navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                                <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
                                <span>@Session["Name"]</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@Url.Action("MyProfile","Administrator")" class="dropdown-item"><i class="icon-user-plus"></i> Mi Perfil</a>
                                <a href="@Url.Action("MyCart","Administrator")" class="dropdown-item"><i class="icon-coins"></i> Mi Carrito</a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Logout","Home")" class="dropdown-item"><i class="icon-switch2"></i> Cerrar Sesión</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="@Url.Action("Registro","Home")" class="nav-link">Registrarse</a></li>
                        <li class="nav-item"><a href="@Url.Action("Ingreso","Home")" class="nav-link">Ingresar</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    @RenderBody()

    <footer class="ftco-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 logo"><a href="#">Nosotros</a></h2>
                        <p>Brindamos los mejores servicios.</p>
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li class="ftco-animate"><a href="https://twitter.com"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://facebook.com"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://instagram.com"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Explora</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>¿Quiénes somos?</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Registrarse</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Ingresar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Legal</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Políticas de privacidad</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Términos y <br> condiciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">¿Cómo encontrarnos?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map marker"></span><span class="text">Carrera 23 calle 19 webplastic</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+57 312 6070792</span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">soporte@webplastic.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/js/google-map.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/filtro.js"></script>


    <!--Sweet alert-->
    <script src="~/Content/js/sweetalert2.all.min.js"></script>

    @RenderSection("scripts", false)

    <!--<script src="js/jquery.waypoints.min.js"></script>-->
</body>
</html>